/* === CSS variables === */

:root {
    --header-txt-color: #4881c9;
    --header-background: white;
    --main-heading: #fff;
    --card-txt-color: rgb(73, 73, 73);
    --card-background: white;
    --btn-background: #898ccd;
    --btn-color: white;
    --btn-hover-color: #377ec8;
    --form-background: #f98e9b;
}

/* === Global Styling === */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(140, 140, 205);
    background: linear-gradient(135deg, rgba(140, 140, 205, 1) 0%, rgba(52, 126, 200, 1) 100%);
}

a {
    text-decoration: none;
    color: inherit;
}

/* ====================== Utility Classes ===================== */

.heading {
    padding: 0.75em 0 0.5em;
    color: var(--main-heading);
    text-align: center;
}


/* === header === */

header {
    background: var(--header-background);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.right-box {
    display: flex;
    align-items: center;
    color: var(--header-txt-color);
}

.right-box i {
    font-size: 1.5rem;
    margin: 0.25rem 0.5rem;
    color: var(--header-txt-color);
}

.right-box>* {
    margin-left: 2rem;
    padding: 0.5rem 0.75rem;
    text-align: center;

}

.right-box button {
    color: inherit;
    background-color: var(--header-background);
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.right-box a {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
}

#login {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    font-weight: 800;
    font-size: 1rem;
}

#logout {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    font-weight: 800;
    font-size: 1rem;
}

/* === Main === */

main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 800px;
}

/* === Media Queries === */

@media only screen and (max-width: 650px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .right-box {
        margin-top: 1.5rem;
    }
}